<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Director</th>
    <th scope="col">Year</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movies; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>{{movie.title}}</td>
    <td>{{movie.director}}</td>
    <td>{{movie.year}}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="onDetailsClick(movie.id)">Details</button>
      <button type="button" class="btn btn-secondary" (click)="onEditClick(movie.id)">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteClick(movie.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
