<form>
  <h2>Movie form</h2>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="director" class="form-label">Director:</label>
    <input type="text" class="form-control" id="director">
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Year:</label>
    <input type="number" class="form-control" id="year">
  </div>
  <div class="mb-3">
    <label for="genres">Genres:</label>
    <select class="form-select mb-3" size="{{genres.length}}" name="genres" id="genres" multiple>
      <option *ngFor="let genre of genres" value="{{genre.name}}">{{genre.displayName}}</option>
    </select>

  </div>
  <div class="mb-3">
    <p>Rating: </p>
    <div class="form-check" *ngFor="let rating of ratings">
      <label for="{{rating.name}}" class="form-check-label">{{rating.displayName}}</label>
      <input type="radio" class="form-check-input" name="rating" id="{{rating.name}}" value="{{rating.name}}">
    </div>
  </div>
  <div class="mb-3">
    <label for="posterUrl" class="form-label">Poster URL:</label>
    <input type="text" class="form-control" id="posterUrl">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmitClick()">Submit</button>
</form>
